<%- include(`./partials/htmlhead`) %>
    <%- include(`./partials/nav`)%>

<h1>External Links</h1>

<ul>
    <% socials.forEach(social=> { %>
  
        <a href=`<%=social.link %>`><li><%= social.type %></li></a>
        <% }) %>
</ul>

<%- include(`./partials/footer`) %>